body {
    background-color: #6290ec;
  }

 #titles {
    text-align: center;
    color:blue;
}

#info {
    color: crimson;
}

link {
    color: rgb(93, 168, 99)
}

header {
    text-align: center;
    background-color: rgb(93, 168, 99);
}

#header-cont {
    border-radius: 80px;
    background-color: rgb(93, 168, 99);
}

nav {
    background-color: rgb(93, 168, 99);
}