body {
    background-color: #6290ec;
  }

 #titles {
    text-align: center;
    color:blue;
}

table, th, td {
    border: 1px solid black; 
    margin-bottom: 20px;
}

th {
    background-color: goldenrod;
}

td {
    background-color: rgb(250, 230, 114);
}

#weblink {
    text-align: center;
}

#description {
    width: 50%;
}

#link-color {
    text-align: center;
}

link {
    color: rgb(93, 168, 99)
}

header {
    text-align: center;
    background-color: rgb(93, 168, 99);
}

#header-cont {
    border-radius: 80px;
    background-color: rgb(93, 168, 99);
}

nav {
    background-color: rgb(93, 168, 99);
}

#new-description {
    display: block;
    width: 500px;
}